.quote {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
  border: 2px solid hsl(39, 75%, 18%);
  border-radius: 12px;
  background-color: hsl(39, 75%, 64%);
}

.text {
  font-size: 18;
  color: hsl(39, 75%, 18%);
  font-style: italic;
  font-weight: bold;
  text-align: center;
}

.author {
  font-size: 20;
  color: hsl(39, 75%, 18%);
  font-weight: bold;
  text-align: center;
}